body{background-color: lightblue;}
h1{color: orange; text-align:center; font-family: "Lucida Handwriting";}
h2{}
h3{color: black; font-family: "Lucida Handwriting";text-align: center;}
h4{}
p{font-family:verdana;font-size:20px;}}
.text-center{text-align: :center;}